api:
  dashboard: true

log:
  level: INFO

entryPoints:
  web:
    address: ":80"

providers:
  docker:
    swarmMode: true
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false

ping: {}